.item{
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(86, 84, 250), rgb(33, 252, 241));
    margin: 0 auto;
   
}
.fade-enter {
	opacity: 0.01;
  }
  .fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
  }
  .fade-exit {
	opacity: 1;
  }
  .fade-exit-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
  }